
@mixin centerDisplay() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.difficulty {
  @include centerDisplay();
  flex-direction: column;
}
.closeButton {
  font-size: 35px;
  position: absolute;
  top: 5px;
  left: 30px;
}

#numberOfPlayers {
  flex-direction: column;
  font-size: 50px;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  font-size: 18px;
  margin-top: 15px;
  text-align: center;
}
