
@mixin centerDisplay() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeButton {
  font-size: 30px;
  position: absolute;
  left: 30px;
}

#numberOfPlayers {
  flex-direction: column;
}
  span {
    font-size: 72px;
    margin-bottom: 15px;
  }
  form {
    display: flex;
    text-align: center;
    font-size: 32px;
    display: flex;
    flex-direction: column;
  }
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
  }