html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  max-width: auto;
  margin: auto;
}

.image {
  background-image: url("./assets/image.png");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
}